@import "../../../../public/colors.scss";

span{
  font-weight: bold;
}
h2{
  margin: 0;
}

.container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.content {
  background-color:$secondary;
  margin: auto;
  width: 80%;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "img header"
    "img main"
    "img footer";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 30px 1fr 50px;
  justify-content: center;
}

header {
  justify-self: end;

  >button{
    margin: 10px 10px 0  0;

    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover{
      color: #ac0d0d;
      transform: scale(1.5);
      transition: 300ms;
    }
  }

}

.img-container{

  grid-area: img;
  width: 300px;
  >img{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

main{
  margin-left: 2rem;
}
.statusSpecie{
  margin-top: 0;
}

footer{
}
