$primary : #2b6c7a;
$secondary: #a6cccc;
$background: #ebe480;
$background-contrast: #ebe480;

//$accent-1-contrast: #fbbb9a;
//$accent-2: #0da8be;
//$background: #5d9d4d;
//$background-contrast: #388d46

