@import "../../../../public/colors.scss";

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  //:nth-child(2){
  //  margin: 0 2rem;
  //  width: 5rem;
  //}
}
p{
  font-size: 1.3rem;
  border-radius: 60px;
  box-shadow: 0 0 5px $primary;
}
button{
  box-shadow: 0 0 3px $primary;
  font-size: 1rem;
  background-color: $primary;
  color: white;
  padding: .3rem 1rem;
  min-width: 6rem;
  border: 2px solid $primary;
  border-radius: 60px;
  &:disabled{
    background-color: #5d5d5d;
  }
  &:enabled{
    cursor: pointer;
  }
  &:hover:enabled{
    background-color: $secondary;
    color: $primary;
    transition: 500ms;
  }

}
