@if (character()) {
  <section class="card" (click)="openModal(character())">
    <header>
      <h3>{{ character().name }}</h3>
    </header>
    <main>
      <img [ngSrc]="character().image"
           [alt]="character().name" width="250" height="250"
           sizes="(max-width: 400px) 100vw, (max-width: 1200px) 50vw, 100vw"
           priority/>
    </main>
    <footer>
      <p><span>Gender: </span>{{ character().gender }}</p>
      <p><span>Date created: </span> {{ character().created | date: 'dd/MM/yyyy' }}</p>
    </footer>
  </section>
}


