<header>
  <h1>Characters Rick & Morty</h1>
</header>
<app-pagination marginNumber="2rem" withNumber="5rem"
                (numberOutputEmitter)="makeApiCallCharacters($event)"
></app-pagination>
<section class="characters">

  @if (characters$ | async; as characters) {
    @for (character of characters; track character.id) {
      @defer (on viewport) {
        <app-card-character [character]="character"
                            [characterInfo]="characterInfo[character.id]"
                            (loaded)="makeApiCall(character.url)"
                            (sendCharacter)="openModal(character)"
        ></app-card-character>
      } @placeholder {
        <div class="placeholder">
          <h2>Loading...</h2>
        </div>
      }
    }
  }
</section>

<app-character-modal #modal ></app-character-modal>

