@import "../public/colors.scss";

body {
  font-family: "VictorMono", monospace, "system-ui", sans-serif;
  background-color: $secondary;
  color: $primary;
}
button {
  font-family: "VictorMono",monospace,"system-ui",sans-serif;
}
